@{
    ViewData["Title"] = "About";
}

<header>
    <h2>Pokemon Theme (Gotta Catch 'Em All!)</h2>
</header>
<article class="row">
    <div class="col-md-6">
        [Verse 1]<br />
        I wanna be the very best<br />
        Like no one ever was<br />
        To catch them is my real test<br />
        To train them is my cause<br />
        I will travel across the land<br />
        Searching far and wide<br />
        Teach Pokémon to understand<br />
        The power that's inside<br /><br />

        [Chorus]<br />
        (Pokémon<br />
        Gotta catch 'em all) It's you and me<br />
        I know it's my destiny (Pokémon)<br />
        Oh, you're my best friend<br />
        In a world we must defend (Pokémon<br />
        Gotta catch 'em all) A heart so true<br />
        Our courage will pull us through<br />
        You teach me and I'll teach you (Ooh, ooh)<br />
        Pokémon! (Gotta catch 'em all)<br />
        Gotta catch 'em all<br />
        Yeah<br /><br />

        [Verse 2]<br />
        Every challenge along the way<br />
        With courage, I will face<br />
        I will battle every day<br />
        To claim my rightful place<br />
        Come with me, the time is right<br />
        There's no better team<br />
        Arm in arm, we'll win the fight<br />
        It's always been our dream<br /><br />

        [Chorus]<br />
        (Pokémon<br />
        Gotta catch 'em all) It's you and me<br />
        I know it's my destiny (Pokémon)<br />
        Oh, you're my best friend<br />
        In a world we must defend (Pokémon<br />
        Gotta catch 'em all) A heart so true<br />
        Our courage will pull us through<br />
        You teach me and I'll teach you (Ooh, ooh)<br />
        Pokémon! (Gotta catch 'em all)<br />
        Gotta catch 'em all<br /><br />

        [Bridge]<br />
        Gotta catch 'em all<br />
        Gotta catch 'em all<br />
        Gotta catch 'em all<br />
        Yeah<br /><br />

        [Guitar Solo]<br /><br />

        [Chorus]<br />
        (Pokémon<br />
        Gotta catch 'em all) It's you and me<br />
        I know it's my destiny (Pokémon)<br />
        Oh, you're my best friend<br />
        In a world we must defend (Pokémon<br />
        Gotta catch 'em all) A heart so true<br />
        Our courage will pull us through<br />
        You teach me and I'll teach you (Ooh, ooh)<br />
        Pokémon! (Gotta catch 'em all)<br />
        Gotta catch 'em all (Pokémon)
    </div>
    <div class="col-md-6">
        <img src="~/Images/album.jpg" class="img-fluid" style="border:1px solid black;"/>
    </div>
</article>
