@{
    ViewData["Title"] = "Contact";
}

<header>
    <h2>Contact Us</h2>
</header>
<hr />
<article class="row">
    <address class="col-md-4">
        <i class="material-icons">local_shipping</i><br/>
        10400 NE 4th St<br />
        Bellevue, WA 98004
    </address>
    <address class="col-md-4">
        <i class="material-icons">call</i><br/>
        +1 555-151-5555
    </address>
    <address class="col-md-4">
        <i class="material-icons">mail</i><br/>
        <a href="mailto:support@pokedexproject.com">Support@pokedexproject.com</a>
    </address>
    <img src="~/Images/support.jpg" class="img-fluid"/>
</article>