@{
    ViewData["Title"] = "PokeDex Companion";
}

<header class="jumbotron bg-danger text-white">
    <h1>@ViewBag.Title</h1>
</header>
<article class="row">
    <div class="col-md-4">
        <h2>Research</h2>
        The ultimate resource for your Pokemon journey. Contains information on all discovered species.
        <img src="~/Images/smartphone.jpg" class="img-fluid rounded" />
    </div>
    <div class="col-md-4">
        <h2>Battle</h2>
        Narrow down your search and finally capture that elusive Pokemon you've been searching for.
        <img src="~/Images/map.png" class="img-fluid rounded" />
    </div>
    <div class="col-md-4">
        <h2>Journey</h2>
        Meet other trainers and build lifelong friendships on the road to being a Pokemon master.
        <img src="~/Images/walking.jpg" class="img-fluid rounded" />
    </div>
</article>